package practica3;

import java.util.Scanner;


public class Practica3 {


    public static void main(String[] args) {
        // TODO code application logic here
        
        float a, b, c, d, e;
        
        Scanner lectura = new Scanner(System.in);
        
        System.out.println("dame el numero a");
        a = lectura.nextInt();
        
        System.out.println("dame el numero b");
        b = lectura.nextInt();
        
        System.out.println("dame el numero c");
        c = lectura.nextInt();
        
        System.out.println("Escribe el numero d");
        d = lectura.nextInt();
        
        System.out.print("Escribe el numero e");
        e = lectura.nextInt();
        
        if (a>b && a>c && a>d && a>e){
            System.out.println("mayor"+a);
        } 
        if (b>b && b>c && b>d && b>e){
            System.out.println("mayor"+b);
        }
        if (c>b && c>c && c>d && c>e){
            System.out.println("mayor"+c);
        }
        if (d>b && d>c && d>d && d>e){
            System.out.println("mayor"+d);
        }
        if (e>b && e>c && e>d && e>e){
            System.out.println("mayor"+e);
        }
        
        
        if (a>b && a>c && a>d && a>e){
            System.out.println("menores"+a);
        }
        if (b>b && b>c && b>d && b>e){
            System.out.println("menores"+b);
        }
        if (c>b && c>c && c>d && c>e){
            System.out.println("menores"+c);
        }    
        if (d>b && d>c && d>d && e>e){
            System.out.println("menores"+d);
        }
        if (e>b && e>c && e>d && e>e){
            System.out.println("menores"+e);
        }
        
    }
    
}
